/* fieldset:not(:first-of-type) {
  background-color: orange;
} */
/* 
input:invalid:required {
  background-color: red;
}

[title*=fieldset] {
  background-color: purple;
} */

label+input {
  background-color: blue;
}

span.help::before {
  content: '(';
}

span.help::after {
  content: ')';
}

fieldset p:nth-of-type(n + 3) {
  display: none;
}